# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. ggplot in R
2. dplyr in R
3. pandasin Python
4. sklearn in Python
5. OpenCV in C++
6. Dlib in C++

| Data Science Tools|
|---|
|Jupyter Notebooks|
|RStudio|
|Anaconda|

**Objectives:**
- Learn how to create new Jupyter Notebook and change its name
- Learn how to create markdowns, in particular:
  - headers
  - bold text
  - tables
- Learn how to multiply and print the results

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author 
Jaroslaw Czarny